<!DOCTYPE html>
<html>
<head>
  <title>new</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<body>
		<h1>New Dojo</h1>
		<form action='/dojos/create/' method='post'>
			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			<label>Branch:</label>
			<input type='text' name='dojo[branch]'/>
			<br>
			<br>
			<label>Street:</label>
			<input type='text' name='dojo[street]'/>
			<br>
			<br>
			<label>City:</label>
			<input type='text' name='dojo[city]'/>
			<br>
			<br>
			<label>State:</label>
			<input type='text' name='dojo[state]'/>
			<br>
			<br>
			<input type='submit' value='Create'/>
		</form>
		<br>
		<a href="/dojos">Home</a>
	</body>
</body>
</html>